body {
    background: #b6b6b6;
    margin: 0;
    padding: 0;
    font-family: Century Gothic, sans-serif;
}

h1,h2,h3,h4,h5 {
    margin-top: 0;
    font-family: Century Gothic, sans-serif;
}

/* FOR FUN */

h1 {
    text-shadow: 0 1px 0 white;
}
